// Variable overrides

$theme-colors: (
  "primary": #6F2C91,
  "secondary": #F7CF2B,
  "success": #97BE35,
  "danger": #F38F20,
  "warning": #1870B9,
  "info": #28AEE4,
  "light": #D9D9D9,
  "dark": #666666,
);